{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="homepageimg">
    <div class="homemessage">
        <h2 class="subheader">Cimbriciuc Nichita</h2>
        <h1 class="header">Django Backend Developer</h1>
    </div>
</div>
<div class="aboutme_section">
    <div class="aboutme">
        <img class="aboutme_picture" src="/media/aboutme_picture.jpg" alt="">
        <h2 class="aboutme_name">Cimbriciuc Nichita</h2>
        <h4 class="aboutme_desc">I'm a young web developer who looks forward to completing challanges
             and is always open for professional growth. I'm a quick learner and have confidence in my 
            problem-solving skills. On this very page I included things that are essential to mostly any 
            site, like authentication and CRUD applications. I also used DRF (Django Rest Framework)</h4>
        <h2>Techincal Skills:</h2>
        <ul class="aboutme_list">
            <li class="aboutme_listitem">HTML/CSS</li>
            <li class="aboutme_listitem">Python</li>
            <li class="aboutme_listitem">MySQL</li>
            <li class="aboutme_listitem">Django</li>
            <li class="aboutme_listitem">Django Rest Framework</li>
            <li class="aboutme_listitem">Git</li>
        </ul>
        <h2>Real life skills:</h2>
        <ul class="aboutme_list"a>
            <li class="aboutme_listitem">I am considered a great leader among my fellows.</li>
            <li class="aboutme_listitem">If I had to describe myself in two words, it would be "responsible" and "trustworthy".</li>
            <li class="aboutme_listitem">I can work independently, as long as I have a final goal.</li>
            <li class="aboutme_listitem">I prefer talking in english most of the time, which allowed me to reach a level between C1 and C2 of english.</li>
        </ul>
    </div>
</div>


{% endblock %}