<footer>
    <div class="media_links">
        <a href="https://www.instagram.com/">
            <img class="media_btn" src="/media/icons/instagram.png" alt="IMAGE NOT WORKING">
        </a>
        <a href="https://www.facebook.com/">
            <img class="media_btn" src="/media/icons/facebook.png" alt="IMAGE NOT WORKING">
        </a>
        <a href="https://www.whatsapp.com/">
            <img class="media_btn" src="/media/icons/whatsapp.png" alt="IMAGE NOT WORKING">
        </a>
        <a href="https://www.youtube.com/">
            <img class="media_btn" src="/media/icons/youtube.png" alt="IMAGE NOT WORKING">
        </a>
        <a href="https://www.linkedin.com/">
            <img class="media_btn" src="/media/icons/linkedin.png" alt="IMAGE NOT WORKING">
        </a>
    </div>
    <div class="footer_about">
        <a href="{% url 'about' %}" class="footer_btn">About this page</a>
        <a href="#" class="footer_btn">Privacy</a>
        <a href="#" class="footer_btn">Terms and conditions</a>
        <a href="/rest/" class="footer_btn">Rest</a>
        <a href="/blog/" class="footer_btn">Blog</a>
    </div>
</footer>